{
  "presets": [
    ["env", {
      "targets": {
        "Chorme": 56
      },
      "exclude": [
        "transform-regenerator"
      ]
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    "dynamic-import-webpack",
    ["flow-runtime", {"assert": true}],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "domain": "./domain"
      }
    }]
  ]
}
