{
  "presets": [
    ["env", {
      "targets": {
        "Chorme": 56
      },
      "exclude": [
        "transform-regenerator"
      ]
    }],
    "@mizchi/babel-preset"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "dynamic-import-webpack",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "domain": "./domain"
      }
    }]
  ]
}
